body{
  background-color:powderblue;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: black;
  width: 15%;
}
h3{
  color: red;
}
h3:hover{
  color: green;

}
img:hover{
  background-color: gold;
}
.chef{
  border-radius: 100%;
  background-color: green;
}
